

@import url('https://fonts.cdnfonts.com/css/minecrafter-alt');

.navbar {
    display: flex;
    position: relative;
    position: fixed;
    background-color: #171615;
    height: 90px;
    width: 100vw;
    margin: -8px 0px 0px -8px;
    border-radius: 5px;
 
  

   
  }

  .logo-navbar {
    display: flex;
    position: absolute;
    height: 70px;
    margin: 10px;


  }

  .pages-navbar {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Minecrafter alt', sans-serif;
    font-size: 28px;
    list-style: none;
    padding-top: 6px;
    color:#C5B6B3;
  }

  .page {
    padding-right: 40px;
    transition: 0.2s;
  }

  .page:hover {
    color: #288123;
    padding-top: 3px;

  }


  .switcher {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #C5B6B3;
    margin-right: 38px;
    margin-top: -7px;
    border-radius: 10%;
    border-style: solid;
    border-color: #222222;
   
   

  }
  