
:root {

  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

 
  
  --background-image: url("/bta-backgroundDark.webp");


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  background-image: var(--background-image);
  background-attachment: fixed;
}


